/* Employeeprofile.css */
.employee-profile-container {
   display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
    background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; 
    background-repeat: no-repeat;
    height: 88vh; 
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

.employee-profile-box {
  max-width: 1000px;
  width: 400px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
}

.employee-profile-box h1 {
  text-align: center;
}

.profile-details {
  margin-bottom: 20px;
  /* Profile details styles */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
}

.photoicon{
  text-align: center;
}
